{% extends "layout.html" %}


{% block title %}
    Adds
{% endblock %}

{% block main %}
<div class="containerdiv">
    <h1>Your cash: {{ cash }} $</h1>
</div>

<h1>Add transaction</h1>


<div class="containerdiv">
    <h2>Add expensive</h2>
    <form action="/adds" method="post">
        <i class="display_phone class" class="fa-solid fa-money-bill-1"></i>
        <input type="number" name="amount" placeholder="Amount ($)" autofocus, min="0">
        <select name="category" id="category">
            {% for category_difference in category_differences %}
            <option value="{{ category_difference.name }}">{{ category_difference.name }}</option>
            {% endfor %}
        </select>
        <input type="date" name="date" placeholder="Date">
        <input type="text" name="note" placeholder="Note">
        <button type="submit" name="add_cost">Add</button>
    </form>
</div>

<div class="containerdiv">
    <h2>Add income</h2>
    <form action="/adds" method="post">
        <i class="fa-solid fa-money-bill-1"></i>
        <input type="number" name="amount" placeholder="Amount ($)" autofocus, min="0">
        <select name="category" id="category">
            {% for category in category_differences_salary %}
            <option value="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <input type="date" name="date" placeholder="Date">
        <input type="text" name="note" placeholder="Note">
        <button type="submit" name="add_salary">Add</button>
    </form>
</div>

{% endblock %}
